nav{
  height: 35px;
  display: flex;
  margin-top: auto;
  padding: 10px 10px;
  margin-left: 200px;
  align-items: center;
  justify-content: space-between;
}

.navRight {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.navRight > a {
 text-decoration: none;
 color: black;
}



